<div class="home">
	<div class="home__header" ng-if="User.get('isLogged')" >
	  <p>User Logged</p>
	  <p>ID: {{User.get('id')}}</p>
	  <p>Name: {{User.get('name')}}</p>
	  <p>E-mail: {{User.get('email')}}</p>
	  <button type="button" class="btn btn-default btn-sm" ng-click="User.logout()">Logout</button>
	</div>

	<div class="home__content" ng-if="User.get('isLogged')" >
		<div class="home__content--item">
			<restaurant-votes />
		</div>
		<div class="home__content--item">
			<user-alert />
		</div> 
		<div class="home__content--item"><restaurant-suggest /></div>
	</div>

	<div class="home__content" ng-if="User.get('isLogged')" >

		<div class="home__content--half">
			<restaurant-chosen-most />
		</div>
		<div class="home__content--half">
			<restaurant-more-popular />
		</div>
	</div>

	<div class="home__header"  ng-if="!User.get('isLogged')" >
		Header unlogged
	</div>
	<div class="home__content"  ng-if="!User.get('isLogged')" >
		<user-form-login />
	</div>


	<div>footer</div>
</div>


